body{
    min-height: 100vh;
    display: flex;
    justify-content: center;    
}
.logo{
    margin-top: 25px;
    margin-left: 25px;
}

.flex_container{
    width: 414px;
    height: 896px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #2684B9;
}
.on1{
    height: 105px;
    background: #2684B9;
    width: 100%;
}
.on2{
    padding-top: 45px;
    text-align: center;
}
.pin{
    position: absolute;
    margin-left: -65px;
    margin-top: -13px;
}
.title{
    margin-top: -10px;
}
.proyect{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 31.814px;
    color: #2684B9;
    position: absolute;
    margin-left: -183px;
    margin-top: -13px;
}
.textSmall{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15.907px;
    color: #2684B9;
    text-align: left;
    position: absolute;
    margin-left: -180px;
    margin-top: 20px;
    width: 140px;
}
.proyect1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #D0942A;
    position: absolute;
    margin-left: -183px;
    margin-top: 53px;
}
.conoz{
    position: absolute;
    display: flex;
    width: 117px;
    height: 39px;
    background: #FFFFFF;
    border: 1.77273px solid #2684B9;
    margin-top: 100px;
    margin-left: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.3058px;
    background: #FFFFFF;
    border: 1.77273px solid #2684B9;
    text-align: left;
    
}
.mas{
    position: absolute;
    margin-left: 90px;
    margin-top: 11px;
}
.btnText{
    margin-left: 10px;
    margin-top: 10px;
}
.on3{
    height: 200px;      
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px;
    justify-content: space-around;
}
.btn1{
    width: 81.27px;
    height: 81.27px;
    background: #FBF4F4;
    border-radius: 5.24317px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}
.btn_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 8.55999px;
    text-align: center;
    color: #863B3B;
    padding-top: 8px;
}
.expro{
    display: flex;
    
}

h1{
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 21.68px;
    color: #000000;
    text-align: left;
}
.exproBtn{
    width: 378px;
    height: 82px;
    background: #ABE1F2;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.btnIcon{
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 11px;
    float: left;
    text-align: center;
    padding: 10px 0px 0px 0px;
}
.textBtn{
    float: left;
    margin-left: 15px;


}
.explist{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    padding: 0;
    margin: 6px 0px 0px 0px 0px;
}
.cantExp{
        font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin-top:  -10px;

    color: #574949;
}
